In [1]:
print("Hello world")

Hello world

In [2]:
%pip install pyspark
%pip install pandas

Requirement already satisfied: pyspark in c:\users\manve\anaconda3\envs\pyspark_env\lib\site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\manve\anaconda3\envs\pyspark_env\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\manve\anaconda3\envs\pyspark_env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\manve\anaconda3\envs\pyspark_env\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\manve\anaconda3\envs\pyspark_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\manve\anaconda3\envs\pyspark_env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\manve\anaconda3\envs\pyspark_env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\manve\anaconda3\envs\pyspark_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pyspark

In [4]:
import pandas as pd
df = pd.read_csv("Students.csv")
print(df)
type(df)

   rollno     Name  Age
0       1   Anvesh   22
1       2   Bunny    21
2       3    Surya   23
3       4   Nikhil   25
4       5   Karthk   23
5       6  Dheeraj   22

pandas.core.frame.DataFrame

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("students").getOrCreate()

In [7]:
spark

In [8]:
dfSpark = spark.read.csv('Students.csv')
dfSpark.show()

+------+-------+---+
|   _c0|    _c1|_c2|
+------+-------+---+
|rollno|   Name|Age|
|     1| Anvesh| 22|
|     2| Bunny | 21|
|     3|  Surya| 23|
|     4| Nikhil| 25|
|     5| Karthk| 23|
|     6|Dheeraj| 22|
+------+-------+---+

In [9]:
dfSpark = spark.read.option('header','true').csv('Students.csv')
dfSpark.show()
type(dfSpark)

+------+-------+---+
|rollno|   Name|Age|
+------+-------+---+
|     1| Anvesh| 22|
|     2| Bunny | 21|
|     3|  Surya| 23|
|     4| Nikhil| 25|
|     5| Karthk| 23|
|     6|Dheeraj| 22|
+------+-------+---+

pyspark.sql.dataframe.DataFrame

In [10]:
dfSpark.head()

Row(rollno='1', Name='Anvesh', Age='22')

In [11]:
dfSpark.printSchema()

root
 |-- rollno: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

## Section 2

In [12]:
from pyspark.sql import  SparkSession

In [13]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [14]:
spark

### read dataset
by default all the dataset values are string 
by using inferSchema = True it will show the true data type

In [15]:
df_pyspark = spark.read.option('header','true').csv('Students.csv',inferSchema=True)

### check the shcema

In [16]:
df_pyspark.printSchema()

root
 |-- rollno: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

another way

In [17]:
df_pyspark = spark.read.csv('Students.csv',header=True,inferSchema=True)

In [18]:
df_pyspark.printSchema()

root
 |-- rollno: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

## selecting coloums and indexing

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

it will return list of records

In [20]:
df_pyspark.head(3)

[Row(rollno=1, Name='Anvesh', Age=22),
 Row(rollno=2, Name='Bunny ', Age=21),
 Row(rollno=3, Name='Surya', Age=23)]

select a colums

In [21]:
df_pyspark.show()

+------+-------+---+
|rollno|   Name|Age|
+------+-------+---+
|     1| Anvesh| 22|
|     2| Bunny | 21|
|     3|  Surya| 23|
|     4| Nikhil| 25|
|     5| Karthk| 23|
|     6|Dheeraj| 22|
+------+-------+---+

In [22]:
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
| Anvesh|
| Bunny |
|  Surya|
| Nikhil|
| Karthk|
|Dheeraj|
+-------+

In [23]:
df_pyspark.select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
| Anvesh| 22|
| Bunny | 21|
|  Surya| 23|
| Nikhil| 25|
| Karthk| 23|
|Dheeraj| 22|
+-------+---+

to check data types of fields

In [24]:
df_pyspark.dtypes

[('rollno', 'int'), ('Name', 'string'), ('Age', 'int')]

In [25]:
df_pyspark.describe()

DataFrame[summary: string, rollno: string, Name: string, Age: string]

In [26]:
df_pyspark.describe().show()

+-------+------------------+------+------------------+
|summary|            rollno|  Name|               Age|
+-------+------------------+------+------------------+
|  count|                 6|     6|                 6|
|   mean|               3.5|  NULL|22.666666666666668|
| stddev|1.8708286933869707|  NULL|1.3662601021279466|
|    min|                 1|Anvesh|                21|
|    max|                 6| Surya|                25|
+-------+------------------+------+------------------+

## Add coloums in dataframes

In [27]:
newDf = df_pyspark.withColumn('age after 2 years',df_pyspark['age']+2)

In [28]:
newDf.show()

+------+-------+---+-----------------+
|rollno|   Name|Age|age after 2 years|
+------+-------+---+-----------------+
|     1| Anvesh| 22|               24|
|     2| Bunny | 21|               23|
|     3|  Surya| 23|               25|
|     4| Nikhil| 25|               27|
|     5| Karthk| 23|               25|
|     6|Dheeraj| 22|               24|
+------+-------+---+-----------------+

## Drop coloum

In [29]:
newDf = newDf.drop("age after 2 years")

In [30]:
newDf.show()

+------+-------+---+
|rollno|   Name|Age|
+------+-------+---+
|     1| Anvesh| 22|
|     2| Bunny | 21|
|     3|  Surya| 23|
|     4| Nikhil| 25|
|     5| Karthk| 23|
|     6|Dheeraj| 22|
+------+-------+---+

## Rename coloum

In [31]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+------+--------+---+
|rollno|New Name|Age|
+------+--------+---+
|     1|  Anvesh| 22|
|     2|  Bunny | 21|
|     3|   Surya| 23|
|     4|  Nikhil| 25|
|     5|  Karthk| 23|
|     6| Dheeraj| 22|
+------+--------+---+

# Session 3

In [32]:
from pyspark.sql import  SparkSession
spark = SparkSession.builder.appName('session3').getOrCreate()

In [33]:
df = spark.read.csv('Test3.csv',header=True,inferSchema=True)
df.show()

+---+-------+----+------+
| id|   name| age|   sal|
+---+-------+----+------+
|  1| Anvesh|  22| 32113|
|  2|  Surya|NULL|223212|
|  3| nikhil|  25|234222|
|  4|dheeraj|NULL| 12311|
|  5|karthil|  23|  NULL|
+---+-------+----+------+

### drop coloum

In [34]:
df.drop('name').show()

+---+----+------+
| id| age|   sal|
+---+----+------+
|  1|  22| 32113|
|  2|NULL|223212|
|  3|  25|234222|
|  4|NULL| 12311|
|  5|  23|  NULL|
+---+----+------+

### remove based on null values

In [35]:
df.show()

+---+-------+----+------+
| id|   name| age|   sal|
+---+-------+----+------+
|  1| Anvesh|  22| 32113|
|  2|  Surya|NULL|223212|
|  3| nikhil|  25|234222|
|  4|dheeraj|NULL| 12311|
|  5|karthil|  23|  NULL|
+---+-------+----+------+

drop all null values

In [36]:
df.na.drop().show()

+---+------+---+------+
| id|  name|age|   sal|
+---+------+---+------+
|  1|Anvesh| 22| 32113|
|  3|nikhil| 25|234222|
+---+------+---+------+

any == how
drop allwith null

In [37]:
df.na.drop(how='any').show()

+---+------+---+------+
| id|  name|age|   sal|
+---+------+---+------+
|  1|Anvesh| 22| 32113|
|  3|nikhil| 25|234222|
+---+------+---+------+

drop row with all null

In [38]:
df.na.drop(how='all').show()

+---+-------+----+------+
| id|   name| age|   sal|
+---+-------+----+------+
|  1| Anvesh|  22| 32113|
|  2|  Surya|NULL|223212|
|  3| nikhil|  25|234222|
|  4|dheeraj|NULL| 12311|
|  5|karthil|  23|  NULL|
+---+-------+----+------+

## threshold
atleast 2 not null values if thresh = 2

In [39]:
df.na.drop(how='any',thresh=3).show()

+---+-------+----+------+
| id|   name| age|   sal|
+---+-------+----+------+
|  1| Anvesh|  22| 32113|
|  2|  Surya|NULL|223212|
|  3| nikhil|  25|234222|
|  4|dheeraj|NULL| 12311|
|  5|karthil|  23|  NULL|
+---+-------+----+------+

## subset
subset is used to specify coloum to remove null

In [40]:
df.na.drop(how='any',subset=['age']).show()

+---+-------+---+------+
| id|   name|age|   sal|
+---+-------+---+------+
|  1| Anvesh| 22| 32113|
|  3| nikhil| 25|234222|
|  5|karthil| 23|  NULL|
+---+-------+---+------+

# filling the missing values

In [41]:
df.na.fill({'name': 'MissingValue', 'age': 0, 'sal': 0}).show()

+---+-------+---+------+
| id|   name|age|   sal|
+---+-------+---+------+
|  1| Anvesh| 22| 32113|
|  2|  Surya|  0|223212|
|  3| nikhil| 25|234222|
|  4|dheeraj|  0| 12311|
|  5|karthil| 23|     0|
+---+-------+---+------+

### mean or mode or median

In [42]:
df.show()

+---+-------+----+------+
| id|   name| age|   sal|
+---+-------+----+------+
|  1| Anvesh|  22| 32113|
|  2|  Surya|NULL|223212|
|  3| nikhil|  25|234222|
|  4|dheeraj|NULL| 12311|
|  5|karthil|  23|  NULL|
+---+-------+----+------+

In [43]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['age','sal'],
    outputCols = ["{}_imputed".format(c) for c in ['age','sal']]
).setStrategy('mean')

In [44]:
imputer.fit(df).transform(df).show()

+---+-------+----+------+-----------+-----------+
| id|   name| age|   sal|age_imputed|sal_imputed|
+---+-------+----+------+-----------+-----------+
|  1| Anvesh|  22| 32113|         22|      32113|
|  2|  Surya|NULL|223212|         23|     223212|
|  3| nikhil|  25|234222|         25|     234222|
|  4|dheeraj|NULL| 12311|         23|      12311|
|  5|karthil|  23|  NULL|         23|     125464|
+---+-------+----+------+-----------+-----------+

# Session 4
- filtering
- & | ==
- ~

In [45]:
df.show()

+---+-------+----+------+
| id|   name| age|   sal|
+---+-------+----+------+
|  1| Anvesh|  22| 32113|
|  2|  Surya|NULL|223212|
|  3| nikhil|  25|234222|
|  4|dheeraj|NULL| 12311|
|  5|karthil|  23|  NULL|
+---+-------+----+------+

sal less than 25000

In [46]:
df.filter("sal<=25000").show()

+---+-------+----+-----+
| id|   name| age|  sal|
+---+-------+----+-----+
|  4|dheeraj|NULL|12311|
+---+-------+----+-----+

In [47]:
df.filter("sal<=25000").select(['name','age']).show()

+-------+----+
|   name| age|
+-------+----+
|dheeraj|NULL|
+-------+----+

In [48]:
df.filter(df['sal']>25000).show()

+---+------+----+------+
| id|  name| age|   sal|
+---+------+----+------+
|  1|Anvesh|  22| 32113|
|  2| Surya|NULL|223212|
|  3|nikhil|  25|234222|
+---+------+----+------+

In [49]:
df.filter((df['sal'] > 25000) & (df['sal'] < 100000)).show()

+---+------+---+-----+
| id|  name|age|  sal|
+---+------+---+-----+
|  1|Anvesh| 22|32113|
+---+------+---+-----+

In [50]:
df.filter(df['sal'].between(25000, 100000)).show()

+---+------+---+-----+
| id|  name|age|  sal|
+---+------+---+-----+
|  1|Anvesh| 22|32113|
+---+------+---+-----+

In [51]:
df.filter(df['sal']>25000).show()
df.filter(~(df['sal']>25000)).show()

+---+------+----+------+
| id|  name| age|   sal|
+---+------+----+------+
|  1|Anvesh|  22| 32113|
|  2| Surya|NULL|223212|
|  3|nikhil|  25|234222|
+---+------+----+------+

+---+-------+----+-----+
| id|   name| age|  sal|
+---+-------+----+-----+
|  4|dheeraj|NULL|12311|
+---+-------+----+-----+

In [52]:
df.show()

+---+-------+----+------+
| id|   name| age|   sal|
+---+-------+----+------+
|  1| Anvesh|  22| 32113|
|  2|  Surya|NULL|223212|
|  3| nikhil|  25|234222|
|  4|dheeraj|NULL| 12311|
|  5|karthil|  23|  NULL|
+---+-------+----+------+

# Session 5

Pyspark Aggregate and groupby functions

In [53]:
from pyspark.sql import SparkSession

In [54]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [55]:
spark

In [68]:
df = spark.read.csv('Test4.csv',header=True,inferSchema=True)

In [69]:
df.show()

+---+-------+---+-------+-----+
| id|   name|age|    sal| dept|
+---+-------+---+-------+-----+
|  1| Anvesh| 22|  32113|  CSE|
|  2|  Surya| 22| 223212|CIVIL|
|  3| nikhil| 25| 234222|  CSE|
|  4|dheeraj| 22|  12311|CIVIL|
|  5|karthil| 23|6516516| MECH|
+---+-------+---+-------+-----+

In [70]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sal: integer (nullable = true)
 |-- dept: string (nullable = true)

In [71]:
# GroupBy
df.groupBy('age').sum().show()

+---+-------+--------+--------+
|age|sum(id)|sum(age)|sum(sal)|
+---+-------+--------+--------+
| 22|      7|      66|  267636|
| 23|      5|      23| 6516516|
| 25|      3|      25|  234222|
+---+-------+--------+--------+

In [72]:
df.groupBy('dept').sum().show()

+-----+-------+--------+--------+
| dept|sum(id)|sum(age)|sum(sal)|
+-----+-------+--------+--------+
|CIVIL|      6|      44|  235523|
|  CSE|      4|      47|  266335|
| MECH|      5|      23| 6516516|
+-----+-------+--------+--------+

In [73]:
df.groupBy('dept').count().show()

+-----+-----+
| dept|count|
+-----+-----+
|CIVIL|    2|
|  CSE|    2|
| MECH|    1|
+-----+-----+

In [74]:
df.groupBy('dept').mean().show()

+-----+-------+--------+---------+
| dept|avg(id)|avg(age)| avg(sal)|
+-----+-------+--------+---------+
|CIVIL|    3.0|    22.0| 117761.5|
|  CSE|    2.0|    23.5| 133167.5|
| MECH|    5.0|    23.0|6516516.0|
+-----+-------+--------+---------+

In [75]:
df.agg({'sal':'sum'}).show()

+--------+
|sum(sal)|
+--------+
| 7018374|
+--------+

In [76]:
df.groupBy('dept').max().show()

+-----+-------+--------+--------+
| dept|max(id)|max(age)|max(sal)|
+-----+-------+--------+--------+
|CIVIL|      4|      22|  223212|
|  CSE|      3|      25|  234222|
| MECH|      5|      23| 6516516|
+-----+-------+--------+--------+

In [77]:
df.groupBy('dept').min().show()

+-----+-------+--------+--------+
| dept|min(id)|min(age)|min(sal)|
+-----+-------+--------+--------+
|CIVIL|      2|      22|   12311|
|  CSE|      1|      22|   32113|
| MECH|      5|      23| 6516516|
+-----+-------+--------+--------+

In [78]:
df.groupBy('dept').avg().show()

+-----+-------+--------+---------+
| dept|avg(id)|avg(age)| avg(sal)|
+-----+-------+--------+---------+
|CIVIL|    3.0|    22.0| 117761.5|
|  CSE|    2.0|    23.5| 133167.5|
| MECH|    5.0|    23.0|6516516.0|
+-----+-------+--------+---------+