In [1]:
from pyspark.sql import  SparkSession

In [2]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [3]:
spark

In [4]:
df = spark.read.csv('housePrice.csv')

In [5]:
df.head(5)

[Row(_c0='Area', _c1='Room', _c2='Parking', _c3='Warehouse', _c4='Elevator', _c5='Address', _c6='Price', _c7='Price(USD)'),
 Row(_c0='63', _c1='1', _c2='True', _c3='True', _c4='True', _c5='Shahran', _c6='1850000000.0', _c7='61666.67'),
 Row(_c0='60', _c1='1', _c2='True', _c3='True', _c4='True', _c5='Shahran', _c6='1850000000.0', _c7='61666.67'),
 Row(_c0='79', _c1='2', _c2='True', _c3='True', _c4='True', _c5='Pardis', _c6='550000000.0', _c7='18333.33'),
 Row(_c0='95', _c1='2', _c2='True', _c3='True', _c4='True', _c5='Shahrake Qods', _c6='902500000.0', _c7='30083.33')]

In [6]:
df = spark.read.csv('housePrice.csv',header=True, inferSchema=True)

In [7]:
# df.head(5)
print()
df.show()

+----+----+-------+---------+--------+--------------------+-------+----------+
|Area|Room|Parking|Warehouse|Elevator|             Address|  Price|Price(USD)|
+----+----+-------+---------+--------+--------------------+-------+----------+
|  63|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  60|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  79|   2|   true|     true|    true|              Pardis|  5.5E8|  18333.33|
|  95|   2|   true|     true|    true|       Shahrake Qods|9.025E8|  30083.33|
| 123|   2|   true|     true|    true|      Shahrake Gharb|  7.0E9| 233333.33|
|  70|   2|   true|     true|   false|North Program Org...| 2.05E9|  68333.33|
|  87|   2|   true|     true|    true|              Pardis|  6.0E8|   20000.0|
|  59|   1|   true|     true|    true|             Shahran| 2.15E9|  71666.67|
|  54|   2|   true|     true|   false|            Andisheh| 4.93E8|  16433.33|
|  71|   1|   true|     true|    true|West Ferdows Boul...| 2.37E9|   79000.0|
|  68|   2|   true|     true|    true|West Ferdows Boul...| 2.45E9|  81666.67|
|  64|   1|   true|     true|    true|              Narmak|  2.1E9|   70000.0|
|  54|   1|  false|     true|    true|              Narmak| 1.69E9|  56333.33|
| 136|   3|   true|     true|    true|         Saadat Abad| 1.1E10| 366666.67|
|  95|   2|   true|     true|    true|               Zafar|  5.0E9| 166666.67|
|  63|   1|  false|     true|   false|          Islamshahr|  5.7E8|   19000.0|
| 155|   3|   true|     true|    true|              Narmak|  6.7E9| 223333.33|
|  64|   2|  false|     true|   false|             Pirouzi| 1.45E9|  48333.33|
| 140|   3|   true|     true|    true|West Ferdows Boul...|  6.4E9| 213333.33|
|  42|   1|  false|     true|   false|             Pirouzi| 1.39E9|  46333.33|
+----+----+-------+---------+--------+--------------------+-------+----------+
only showing top 20 rows

In [8]:
df.columns

['Area',
 'Room',
 'Parking',
 'Warehouse',
 'Elevator',
 'Address',
 'Price',
 'Price(USD)']

In [9]:
len(df.columns)

8

In [10]:
df.dtypes

[('Area', 'string'),
 ('Room', 'int'),
 ('Parking', 'boolean'),
 ('Warehouse', 'boolean'),
 ('Elevator', 'boolean'),
 ('Address', 'string'),
 ('Price', 'double'),
 ('Price(USD)', 'double')]

In [11]:
df.printSchema()

root
 |-- Area: string (nullable = true)
 |-- Room: integer (nullable = true)
 |-- Parking: boolean (nullable = true)
 |-- Warehouse: boolean (nullable = true)
 |-- Elevator: boolean (nullable = true)
 |-- Address: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Price(USD): double (nullable = true)

In [12]:
df.describe()

DataFrame[summary: string, Area: string, Room: string, Address: string, Price: string, Price(USD): string]

In [13]:
df.describe().show()

+-------+------------------+------------------+---------+-------------------+------------------+
|summary|              Area|              Room|  Address|              Price|        Price(USD)|
+-------+------------------+------------------+---------+-------------------+------------------+
|  count|              3479|              3479|     3456|               3479|              3479|
|   mean|106.77454650158364|2.0799080195458464|     NULL|5.359022710575166E9|178634.09040528862|
| stddev| 69.36556734128237|0.7582753293813769|     NULL|8.099934524333218E9| 269997.8174080844|
|    min|            1,000 |                 0|   Abazar|          3600000.0|             120.0|
|    max|                99|                 5|Zibadasht|            9.24E10|         3080000.0|
+-------+------------------+------------------+---------+-------------------+------------------+

In [14]:
df.select('area')

DataFrame[area: string]

In [15]:
df.select('area').show()

+----+
|area|
+----+
|  63|
|  60|
|  79|
|  95|
| 123|
|  70|
|  87|
|  59|
|  54|
|  71|
|  68|
|  64|
|  54|
| 136|
|  95|
|  63|
| 155|
|  64|
| 140|
|  42|
+----+
only showing top 20 rows

In [16]:
df.select('area').show(5)

+----+
|area|
+----+
|  63|
|  60|
|  79|
|  95|
| 123|
+----+
only showing top 5 rows

In [17]:
df.select('area').head(5)

[Row(area='63'),
 Row(area='60'),
 Row(area='79'),
 Row(area='95'),
 Row(area='123')]

In [18]:
df.select(['area','parking']).tail(20)

[Row(area='80', parking=True),
 Row(area='58', parking=False),
 Row(area='55', parking=True),
 Row(area='60', parking=True),
 Row(area='133', parking=True),
 Row(area='94', parking=False),
 Row(area='68', parking=False),
 Row(area='61', parking=False),
 Row(area='75', parking=True),
 Row(area='81', parking=True),
 Row(area='74', parking=True),
 Row(area='97', parking=True),
 Row(area='94', parking=True),
 Row(area='113', parking=True),
 Row(area='63', parking=True),
 Row(area='86', parking=True),
 Row(area='83', parking=True),
 Row(area='75', parking=False),
 Row(area='105', parking=True),
 Row(area='82', parking=False)]

In [19]:
duplicateDF = df.withColumn('testCol',df['area']*2)

In [20]:
duplicateDF.show()

+----+----+-------+---------+--------+--------------------+-------+----------+-------+
|Area|Room|Parking|Warehouse|Elevator|             Address|  Price|Price(USD)|testCol|
+----+----+-------+---------+--------+--------------------+-------+----------+-------+
|  63|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|  126.0|
|  60|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|  120.0|
|  79|   2|   true|     true|    true|              Pardis|  5.5E8|  18333.33|  158.0|
|  95|   2|   true|     true|    true|       Shahrake Qods|9.025E8|  30083.33|  190.0|
| 123|   2|   true|     true|    true|      Shahrake Gharb|  7.0E9| 233333.33|  246.0|
|  70|   2|   true|     true|   false|North Program Org...| 2.05E9|  68333.33|  140.0|
|  87|   2|   true|     true|    true|              Pardis|  6.0E8|   20000.0|  174.0|
|  59|   1|   true|     true|    true|             Shahran| 2.15E9|  71666.67|  118.0|
|  54|   2|   true|     true|   false|            Andisheh| 4.93E8|  16433.33|  108.0|
|  71|   1|   true|     true|    true|West Ferdows Boul...| 2.37E9|   79000.0|  142.0|
|  68|   2|   true|     true|    true|West Ferdows Boul...| 2.45E9|  81666.67|  136.0|
|  64|   1|   true|     true|    true|              Narmak|  2.1E9|   70000.0|  128.0|
|  54|   1|  false|     true|    true|              Narmak| 1.69E9|  56333.33|  108.0|
| 136|   3|   true|     true|    true|         Saadat Abad| 1.1E10| 366666.67|  272.0|
|  95|   2|   true|     true|    true|               Zafar|  5.0E9| 166666.67|  190.0|
|  63|   1|  false|     true|   false|          Islamshahr|  5.7E8|   19000.0|  126.0|
| 155|   3|   true|     true|    true|              Narmak|  6.7E9| 223333.33|  310.0|
|  64|   2|  false|     true|   false|             Pirouzi| 1.45E9|  48333.33|  128.0|
| 140|   3|   true|     true|    true|West Ferdows Boul...|  6.4E9| 213333.33|  280.0|
|  42|   1|  false|     true|   false|             Pirouzi| 1.39E9|  46333.33|   84.0|
+----+----+-------+---------+--------+--------------------+-------+----------+-------+
only showing top 20 rows

In [21]:
duplicateDF = duplicateDF.drop("testcol")

In [22]:
duplicateDF.show()

+----+----+-------+---------+--------+--------------------+-------+----------+
|Area|Room|Parking|Warehouse|Elevator|             Address|  Price|Price(USD)|
+----+----+-------+---------+--------+--------------------+-------+----------+
|  63|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  60|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  79|   2|   true|     true|    true|              Pardis|  5.5E8|  18333.33|
|  95|   2|   true|     true|    true|       Shahrake Qods|9.025E8|  30083.33|
| 123|   2|   true|     true|    true|      Shahrake Gharb|  7.0E9| 233333.33|
|  70|   2|   true|     true|   false|North Program Org...| 2.05E9|  68333.33|
|  87|   2|   true|     true|    true|              Pardis|  6.0E8|   20000.0|
|  59|   1|   true|     true|    true|             Shahran| 2.15E9|  71666.67|
|  54|   2|   true|     true|   false|            Andisheh| 4.93E8|  16433.33|
|  71|   1|   true|     true|    true|West Ferdows Boul...| 2.37E9|   79000.0|
|  68|   2|   true|     true|    true|West Ferdows Boul...| 2.45E9|  81666.67|
|  64|   1|   true|     true|    true|              Narmak|  2.1E9|   70000.0|
|  54|   1|  false|     true|    true|              Narmak| 1.69E9|  56333.33|
| 136|   3|   true|     true|    true|         Saadat Abad| 1.1E10| 366666.67|
|  95|   2|   true|     true|    true|               Zafar|  5.0E9| 166666.67|
|  63|   1|  false|     true|   false|          Islamshahr|  5.7E8|   19000.0|
| 155|   3|   true|     true|    true|              Narmak|  6.7E9| 223333.33|
|  64|   2|  false|     true|   false|             Pirouzi| 1.45E9|  48333.33|
| 140|   3|   true|     true|    true|West Ferdows Boul...|  6.4E9| 213333.33|
|  42|   1|  false|     true|   false|             Pirouzi| 1.39E9|  46333.33|
+----+----+-------+---------+--------+--------------------+-------+----------+
only showing top 20 rows

In [23]:
duplicateDF = duplicateDF.withColumn("parking",duplicateDF['parking'].cast('Boolean'))

In [25]:
duplicateDF.printSchema()

root
 |-- Area: string (nullable = true)
 |-- Room: integer (nullable = true)
 |-- parking: boolean (nullable = true)
 |-- Warehouse: boolean (nullable = true)
 |-- Elevator: boolean (nullable = true)
 |-- Address: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Price(USD): double (nullable = true)

In [26]:
duplicateDF.show()

+----+----+-------+---------+--------+--------------------+-------+----------+
|Area|Room|parking|Warehouse|Elevator|             Address|  Price|Price(USD)|
+----+----+-------+---------+--------+--------------------+-------+----------+
|  63|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  60|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  79|   2|   true|     true|    true|              Pardis|  5.5E8|  18333.33|
|  95|   2|   true|     true|    true|       Shahrake Qods|9.025E8|  30083.33|
| 123|   2|   true|     true|    true|      Shahrake Gharb|  7.0E9| 233333.33|
|  70|   2|   true|     true|   false|North Program Org...| 2.05E9|  68333.33|
|  87|   2|   true|     true|    true|              Pardis|  6.0E8|   20000.0|
|  59|   1|   true|     true|    true|             Shahran| 2.15E9|  71666.67|
|  54|   2|   true|     true|   false|            Andisheh| 4.93E8|  16433.33|
|  71|   1|   true|     true|    true|West Ferdows Boul...| 2.37E9|   79000.0|
|  68|   2|   true|     true|    true|West Ferdows Boul...| 2.45E9|  81666.67|
|  64|   1|   true|     true|    true|              Narmak|  2.1E9|   70000.0|
|  54|   1|  false|     true|    true|              Narmak| 1.69E9|  56333.33|
| 136|   3|   true|     true|    true|         Saadat Abad| 1.1E10| 366666.67|
|  95|   2|   true|     true|    true|               Zafar|  5.0E9| 166666.67|
|  63|   1|  false|     true|   false|          Islamshahr|  5.7E8|   19000.0|
| 155|   3|   true|     true|    true|              Narmak|  6.7E9| 223333.33|
|  64|   2|  false|     true|   false|             Pirouzi| 1.45E9|  48333.33|
| 140|   3|   true|     true|    true|West Ferdows Boul...|  6.4E9| 213333.33|
|  42|   1|  false|     true|   false|             Pirouzi| 1.39E9|  46333.33|
+----+----+-------+---------+--------+--------------------+-------+----------+
only showing top 20 rows

In [32]:
duplicateDF.na.drop().show(10)

+----+----+-------+---------+--------+--------------------+-------+----------+
|Area|Room|parking|Warehouse|Elevator|             Address|  Price|Price(USD)|
+----+----+-------+---------+--------+--------------------+-------+----------+
|  63|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  60|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  79|   2|   true|     true|    true|              Pardis|  5.5E8|  18333.33|
|  95|   2|   true|     true|    true|       Shahrake Qods|9.025E8|  30083.33|
| 123|   2|   true|     true|    true|      Shahrake Gharb|  7.0E9| 233333.33|
|  70|   2|   true|     true|   false|North Program Org...| 2.05E9|  68333.33|
|  87|   2|   true|     true|    true|              Pardis|  6.0E8|   20000.0|
|  59|   1|   true|     true|    true|             Shahran| 2.15E9|  71666.67|
|  54|   2|   true|     true|   false|            Andisheh| 4.93E8|  16433.33|
|  71|   1|   true|     true|    true|West Ferdows Boul...| 2.37E9|   79000.0|
+----+----+-------+---------+--------+--------------------+-------+----------+
only showing top 10 rows

In [33]:
duplicateDF.na.drop(subset=['area'])

DataFrame[Area: string, Room: int, parking: boolean, Warehouse: boolean, Elevator: boolean, Address: string, Price: double, Price(USD): double]

In [34]:
duplicateDF.na.drop(how='any').show(10)

+----+----+-------+---------+--------+--------------------+-------+----------+
|Area|Room|parking|Warehouse|Elevator|             Address|  Price|Price(USD)|
+----+----+-------+---------+--------+--------------------+-------+----------+
|  63|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  60|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  79|   2|   true|     true|    true|              Pardis|  5.5E8|  18333.33|
|  95|   2|   true|     true|    true|       Shahrake Qods|9.025E8|  30083.33|
| 123|   2|   true|     true|    true|      Shahrake Gharb|  7.0E9| 233333.33|
|  70|   2|   true|     true|   false|North Program Org...| 2.05E9|  68333.33|
|  87|   2|   true|     true|    true|              Pardis|  6.0E8|   20000.0|
|  59|   1|   true|     true|    true|             Shahran| 2.15E9|  71666.67|
|  54|   2|   true|     true|   false|            Andisheh| 4.93E8|  16433.33|
|  71|   1|   true|     true|    true|West Ferdows Boul...| 2.37E9|   79000.0|
+----+----+-------+---------+--------+--------------------+-------+----------+
only showing top 10 rows

In [36]:
duplicateDF.na.drop(how='any',thresh=2).show(10)

+----+----+-------+---------+--------+--------------------+-------+----------+
|Area|Room|parking|Warehouse|Elevator|             Address|  Price|Price(USD)|
+----+----+-------+---------+--------+--------------------+-------+----------+
|  63|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  60|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  79|   2|   true|     true|    true|              Pardis|  5.5E8|  18333.33|
|  95|   2|   true|     true|    true|       Shahrake Qods|9.025E8|  30083.33|
| 123|   2|   true|     true|    true|      Shahrake Gharb|  7.0E9| 233333.33|
|  70|   2|   true|     true|   false|North Program Org...| 2.05E9|  68333.33|
|  87|   2|   true|     true|    true|              Pardis|  6.0E8|   20000.0|
|  59|   1|   true|     true|    true|             Shahran| 2.15E9|  71666.67|
|  54|   2|   true|     true|   false|            Andisheh| 4.93E8|  16433.33|
|  71|   1|   true|     true|    true|West Ferdows Boul...| 2.37E9|   79000.0|
+----+----+-------+---------+--------+--------------------+-------+----------+
only showing top 10 rows

In [37]:
duplicateDF.na.fill('Missing').show()

+----+----+-------+---------+--------+--------------------+-------+----------+
|Area|Room|parking|Warehouse|Elevator|             Address|  Price|Price(USD)|
+----+----+-------+---------+--------+--------------------+-------+----------+
|  63|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  60|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  79|   2|   true|     true|    true|              Pardis|  5.5E8|  18333.33|
|  95|   2|   true|     true|    true|       Shahrake Qods|9.025E8|  30083.33|
| 123|   2|   true|     true|    true|      Shahrake Gharb|  7.0E9| 233333.33|
|  70|   2|   true|     true|   false|North Program Org...| 2.05E9|  68333.33|
|  87|   2|   true|     true|    true|              Pardis|  6.0E8|   20000.0|
|  59|   1|   true|     true|    true|             Shahran| 2.15E9|  71666.67|
|  54|   2|   true|     true|   false|            Andisheh| 4.93E8|  16433.33|
|  71|   1|   true|     true|    true|West Ferdows Boul...| 2.37E9|   79000.0|
|  68|   2|   true|     true|    true|West Ferdows Boul...| 2.45E9|  81666.67|
|  64|   1|   true|     true|    true|              Narmak|  2.1E9|   70000.0|
|  54|   1|  false|     true|    true|              Narmak| 1.69E9|  56333.33|
| 136|   3|   true|     true|    true|         Saadat Abad| 1.1E10| 366666.67|
|  95|   2|   true|     true|    true|               Zafar|  5.0E9| 166666.67|
|  63|   1|  false|     true|   false|          Islamshahr|  5.7E8|   19000.0|
| 155|   3|   true|     true|    true|              Narmak|  6.7E9| 223333.33|
|  64|   2|  false|     true|   false|             Pirouzi| 1.45E9|  48333.33|
| 140|   3|   true|     true|    true|West Ferdows Boul...|  6.4E9| 213333.33|
|  42|   1|  false|     true|   false|             Pirouzi| 1.39E9|  46333.33|
+----+----+-------+---------+--------+--------------------+-------+----------+
only showing top 20 rows

In [38]:
duplicateDF.na.fill('Missing','Area').show()

+----+----+-------+---------+--------+--------------------+-------+----------+
|Area|Room|parking|Warehouse|Elevator|             Address|  Price|Price(USD)|
+----+----+-------+---------+--------+--------------------+-------+----------+
|  63|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  60|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  79|   2|   true|     true|    true|              Pardis|  5.5E8|  18333.33|
|  95|   2|   true|     true|    true|       Shahrake Qods|9.025E8|  30083.33|
| 123|   2|   true|     true|    true|      Shahrake Gharb|  7.0E9| 233333.33|
|  70|   2|   true|     true|   false|North Program Org...| 2.05E9|  68333.33|
|  87|   2|   true|     true|    true|              Pardis|  6.0E8|   20000.0|
|  59|   1|   true|     true|    true|             Shahran| 2.15E9|  71666.67|
|  54|   2|   true|     true|   false|            Andisheh| 4.93E8|  16433.33|
|  71|   1|   true|     true|    true|West Ferdows Boul...| 2.37E9|   79000.0|
|  68|   2|   true|     true|    true|West Ferdows Boul...| 2.45E9|  81666.67|
|  64|   1|   true|     true|    true|              Narmak|  2.1E9|   70000.0|
|  54|   1|  false|     true|    true|              Narmak| 1.69E9|  56333.33|
| 136|   3|   true|     true|    true|         Saadat Abad| 1.1E10| 366666.67|
|  95|   2|   true|     true|    true|               Zafar|  5.0E9| 166666.67|
|  63|   1|  false|     true|   false|          Islamshahr|  5.7E8|   19000.0|
| 155|   3|   true|     true|    true|              Narmak|  6.7E9| 223333.33|
|  64|   2|  false|     true|   false|             Pirouzi| 1.45E9|  48333.33|
| 140|   3|   true|     true|    true|West Ferdows Boul...|  6.4E9| 213333.33|
|  42|   1|  false|     true|   false|             Pirouzi| 1.39E9|  46333.33|
+----+----+-------+---------+--------+--------------------+-------+----------+
only showing top 20 rows

In [39]:
duplicateDF.na.fill('Missing',['Area','parking']).show()

+----+----+-------+---------+--------+--------------------+-------+----------+
|Area|Room|parking|Warehouse|Elevator|             Address|  Price|Price(USD)|
+----+----+-------+---------+--------+--------------------+-------+----------+
|  63|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  60|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  79|   2|   true|     true|    true|              Pardis|  5.5E8|  18333.33|
|  95|   2|   true|     true|    true|       Shahrake Qods|9.025E8|  30083.33|
| 123|   2|   true|     true|    true|      Shahrake Gharb|  7.0E9| 233333.33|
|  70|   2|   true|     true|   false|North Program Org...| 2.05E9|  68333.33|
|  87|   2|   true|     true|    true|              Pardis|  6.0E8|   20000.0|
|  59|   1|   true|     true|    true|             Shahran| 2.15E9|  71666.67|
|  54|   2|   true|     true|   false|            Andisheh| 4.93E8|  16433.33|
|  71|   1|   true|     true|    true|West Ferdows Boul...| 2.37E9|   79000.0|
|  68|   2|   true|     true|    true|West Ferdows Boul...| 2.45E9|  81666.67|
|  64|   1|   true|     true|    true|              Narmak|  2.1E9|   70000.0|
|  54|   1|  false|     true|    true|              Narmak| 1.69E9|  56333.33|
| 136|   3|   true|     true|    true|         Saadat Abad| 1.1E10| 366666.67|
|  95|   2|   true|     true|    true|               Zafar|  5.0E9| 166666.67|
|  63|   1|  false|     true|   false|          Islamshahr|  5.7E8|   19000.0|
| 155|   3|   true|     true|    true|              Narmak|  6.7E9| 223333.33|
|  64|   2|  false|     true|   false|             Pirouzi| 1.45E9|  48333.33|
| 140|   3|   true|     true|    true|West Ferdows Boul...|  6.4E9| 213333.33|
|  42|   1|  false|     true|   false|             Pirouzi| 1.39E9|  46333.33|
+----+----+-------+---------+--------+--------------------+-------+----------+
only showing top 20 rows

In [40]:
from pyspark.sql.functions import *

In [41]:
duplicateDF.select(min('price')).show()

+----------+
|min(price)|
+----------+
| 3600000.0|
+----------+

In [42]:
duplicateDF.select(max('price')).show()

+----------+
|max(price)|
+----------+
|   9.24E10|
+----------+

In [43]:
duplicateDF.select(mean('price')).show()

+-------------------+
|         avg(price)|
+-------------------+
|5.359022710575166E9|
+-------------------+

In [44]:
duplicateDF.select(std('price')).show()

+-------------------+
|         std(price)|
+-------------------+
|8.099934524333218E9|
+-------------------+

In [47]:
duplicateDF.withColumnRenamed('elevator','lift').show()

+----+----+-------+---------+-----+--------------------+-------+----------+
|Area|Room|parking|Warehouse| lift|             Address|  Price|Price(USD)|
+----+----+-------+---------+-----+--------------------+-------+----------+
|  63|   1|   true|     true| true|             Shahran| 1.85E9|  61666.67|
|  60|   1|   true|     true| true|             Shahran| 1.85E9|  61666.67|
|  79|   2|   true|     true| true|              Pardis|  5.5E8|  18333.33|
|  95|   2|   true|     true| true|       Shahrake Qods|9.025E8|  30083.33|
| 123|   2|   true|     true| true|      Shahrake Gharb|  7.0E9| 233333.33|
|  70|   2|   true|     true|false|North Program Org...| 2.05E9|  68333.33|
|  87|   2|   true|     true| true|              Pardis|  6.0E8|   20000.0|
|  59|   1|   true|     true| true|             Shahran| 2.15E9|  71666.67|
|  54|   2|   true|     true|false|            Andisheh| 4.93E8|  16433.33|
|  71|   1|   true|     true| true|West Ferdows Boul...| 2.37E9|   79000.0|
|  68|   2|   true|     true| true|West Ferdows Boul...| 2.45E9|  81666.67|
|  64|   1|   true|     true| true|              Narmak|  2.1E9|   70000.0|
|  54|   1|  false|     true| true|              Narmak| 1.69E9|  56333.33|
| 136|   3|   true|     true| true|         Saadat Abad| 1.1E10| 366666.67|
|  95|   2|   true|     true| true|               Zafar|  5.0E9| 166666.67|
|  63|   1|  false|     true|false|          Islamshahr|  5.7E8|   19000.0|
| 155|   3|   true|     true| true|              Narmak|  6.7E9| 223333.33|
|  64|   2|  false|     true|false|             Pirouzi| 1.45E9|  48333.33|
| 140|   3|   true|     true| true|West Ferdows Boul...|  6.4E9| 213333.33|
|  42|   1|  false|     true|false|             Pirouzi| 1.39E9|  46333.33|
+----+----+-------+---------+-----+--------------------+-------+----------+
only showing top 20 rows

In [46]:
duplicateDF.show()

+----+----+-------+---------+--------+--------------------+-------+----------+
|Area|Room|parking|Warehouse|Elevator|             Address|  Price|Price(USD)|
+----+----+-------+---------+--------+--------------------+-------+----------+
|  63|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  60|   1|   true|     true|    true|             Shahran| 1.85E9|  61666.67|
|  79|   2|   true|     true|    true|              Pardis|  5.5E8|  18333.33|
|  95|   2|   true|     true|    true|       Shahrake Qods|9.025E8|  30083.33|
| 123|   2|   true|     true|    true|      Shahrake Gharb|  7.0E9| 233333.33|
|  70|   2|   true|     true|   false|North Program Org...| 2.05E9|  68333.33|
|  87|   2|   true|     true|    true|              Pardis|  6.0E8|   20000.0|
|  59|   1|   true|     true|    true|             Shahran| 2.15E9|  71666.67|
|  54|   2|   true|     true|   false|            Andisheh| 4.93E8|  16433.33|
|  71|   1|   true|     true|    true|West Ferdows Boul...| 2.37E9|   79000.0|
|  68|   2|   true|     true|    true|West Ferdows Boul...| 2.45E9|  81666.67|
|  64|   1|   true|     true|    true|              Narmak|  2.1E9|   70000.0|
|  54|   1|  false|     true|    true|              Narmak| 1.69E9|  56333.33|
| 136|   3|   true|     true|    true|         Saadat Abad| 1.1E10| 366666.67|
|  95|   2|   true|     true|    true|               Zafar|  5.0E9| 166666.67|
|  63|   1|  false|     true|   false|          Islamshahr|  5.7E8|   19000.0|
| 155|   3|   true|     true|    true|              Narmak|  6.7E9| 223333.33|
|  64|   2|  false|     true|   false|             Pirouzi| 1.45E9|  48333.33|
| 140|   3|   true|     true|    true|West Ferdows Boul...|  6.4E9| 213333.33|
|  42|   1|  false|     true|   false|             Pirouzi| 1.39E9|  46333.33|
+----+----+-------+---------+--------+--------------------+-------+----------+
only showing top 20 rows

In [49]:
duplicateDF.collect()[0]

Row(Area='63', Room=1, parking=True, Warehouse=True, Elevator=True, Address='Shahran', Price=1850000000.0, Price(USD)=61666.67)

In [50]:
duplicateDF.collect()[10:20]

[Row(Area='68', Room=2, parking=True, Warehouse=True, Elevator=True, Address='West Ferdows Boulevard', Price=2450000000.0, Price(USD)=81666.67),
 Row(Area='64', Room=1, parking=True, Warehouse=True, Elevator=True, Address='Narmak', Price=2100000000.0, Price(USD)=70000.0),
 Row(Area='54', Room=1, parking=False, Warehouse=True, Elevator=True, Address='Narmak', Price=1690000000.0, Price(USD)=56333.33),
 Row(Area='136', Room=3, parking=True, Warehouse=True, Elevator=True, Address='Saadat Abad', Price=11000000000.0, Price(USD)=366666.67),
 Row(Area='95', Room=2, parking=True, Warehouse=True, Elevator=True, Address='Zafar', Price=5000000000.0, Price(USD)=166666.67),
 Row(Area='63', Room=1, parking=False, Warehouse=True, Elevator=False, Address='Islamshahr', Price=570000000.0, Price(USD)=19000.0),
 Row(Area='155', Room=3, parking=True, Warehouse=True, Elevator=True, Address='Narmak', Price=6700000000.0, Price(USD)=223333.33),
 Row(Area='64', Room=2, parking=False, Warehouse=True, Elevator=False, Address='Pirouzi', Price=1450000000.0, Price(USD)=48333.33),
 Row(Area='140', Room=3, parking=True, Warehouse=True, Elevator=True, Address='West Ferdows Boulevard', Price=6400000000.0, Price(USD)=213333.33),
 Row(Area='42', Room=1, parking=False, Warehouse=True, Elevator=False, Address='Pirouzi', Price=1390000000.0, Price(USD)=46333.33)]

In [51]:
duplicateDF.collect()[20:30:2]

[Row(Area='93', Room=2, parking=True, Warehouse=True, Elevator=True, Address='Shahrake Gharb', Price=7000000000.0, Price(USD)=233333.33),
 Row(Area='65', Room=1, parking=True, Warehouse=True, Elevator=True, Address='Shahran', Price=1880000000.0, Price(USD)=62666.67),
 Row(Area='105', Room=2, parking=True, Warehouse=True, Elevator=True, Address='Saadat Abad', Price=7150000000.0, Price(USD)=238333.33),
 Row(Area='77', Room=2, parking=True, Warehouse=True, Elevator=True, Address='Amirieh', Price=1771000000.0, Price(USD)=59033.33),
 Row(Area='110', Room=2, parking=True, Warehouse=True, Elevator=True, Address='Southern Janatabad', Price=630000000.0, Price(USD)=21000.0)]

In [64]:

duplicateDF.filter(duplicateDF.Price < 100000000).show()

+----+----+-------+---------+--------+-------+---------+----------+
|Area|Room|parking|Warehouse|Elevator|Address|    Price|Price(USD)|
+----+----+-------+---------+--------+-------+---------+----------+
| 160|   1|  false|    false|   false|Qarchak|3600000.0|     120.0|
|  75|   2|   true|     true|    true| Pardis|    6.0E7|    2000.0|
|  83|   2|   true|     true|    true|  Ozgol|    5.5E7|   1833.33|
+----+----+-------+---------+--------+-------+---------+----------+

In [65]:
duplicateDF.filter(duplicateDF.Price < 100000000).count()

3

In [69]:
Randomselection = duplicateDF.sample(withReplacement=False, fraction= 0.2, seed = None)
Randomselection.show()

+----+----+-------+---------+--------+--------------------+-------+----------+
|Area|Room|parking|Warehouse|Elevator|             Address|  Price|Price(USD)|
+----+----+-------+---------+--------+--------------------+-------+----------+
|  95|   2|   true|     true|    true|               Zafar|  5.0E9| 166666.67|
|  63|   1|  false|     true|   false|          Islamshahr|  5.7E8|   19000.0|
|  42|   1|  false|     true|   false|             Pirouzi| 1.39E9|  46333.33|
|  87|   2|   true|     true|    true|Shahrake Shahid B...|  2.5E9|  83333.33|
|  99|   2|   true|     true|    true|           Moniriyeh|2.277E9|   75900.0|
| 123|   2|   true|     true|    true|             Pirouzi|4.059E9|  135300.0|
|  90|   2|  false|     true|   false|            Salsabil|  1.5E9|   50000.0|
|  68|   2|   true|     true|    true|West Ferdows Boul...|  2.5E9|  83333.33|
| 130|   3|   true|     true|   false|            ShahrAra|  5.0E9| 166666.67|
|  62|   2|  false|    false|    true|         Ostad Moein| 1.45E9|  48333.33|
| 215|   3|   true|     true|    true|            Pakdasht| 1.75E9|  58333.33|
|  72|   2|   true|     true|   false|               Punak|  2.2E9|  73333.33|
| 122|   2|   true|     true|    true|            Aqdasieh|  7.0E9| 233333.33|
| 151|   3|   true|     true|    true|         Saadat Abad|1.02E10|  340000.0|
|  88|   3|  false|    false|    true|              Parand|  5.6E8|  18666.67|
| 151|   3|   true|     true|    true|         Saadat Abad|1.02E10|  340000.0|
|  75|   2|   true|     true|    true|North Program Org...|  2.3E9|  76666.67|
|  65|   2|   true|     true|    true|Southern Program ...| 2.27E9|  75666.67|
|  94|   2|   true|     true|    true|              Parand|  5.8E8|  19333.33|
|  67|   1|   true|     true|    true|               Punak|  2.3E9|  76666.67|
+----+----+-------+---------+--------+--------------------+-------+----------+
only showing top 20 rows

In [ ]:

print("Random selection count")
Randomselection.count()

Total count
Random selection count

670

In [76]:
print("Total count")
duplicateDF.count()

Total count

3479