
# What is PySpark ? 

Apache Spark has become a popular framework for processing large-scale data and performing distributed computing tasks. With its powerful processing capabilities, PySpark, the Python API for Apache Spark, has gained significant traction among data engineers and data scientists.Spark keeps data in memory instead of disk, which allows it to access data much faster(10-100x faster.)
.


# Description :

Firsty , for using pyspark we have to install it.Therefore , we need to use pip install to install.The code below.

In [1]:
%pip install pyspark

Requirement already satisfied: pyspark in c:\users\manve\anaconda3\envs\pyspark_env\lib\site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\manve\anaconda3\envs\pyspark_env\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.



# Description :

Now , easily we are able to import it , in addition we need to use of SparkSession which is an object that is the primary entry point for Spark applications, and allows you to run SQL queries on database tables.

In [2]:
import pyspark 
from pyspark.sql import SparkSession



# Description :

For loading a dataset and before that we need to create an app to be able to load our data , so that we use of the object that we have already imported and then
for building there is a method with the name builder , then we need select a name for our app(anything it can be , but better if it is related to our work),the last use 
a method namely getOrCreate() to create our app.

In [10]:
spark = SparkSession.builder.appName('Practise').getOrCreate()




when we see , some information like version , Master , AppName will be shown .

In [11]:
spark


we use a dataset to show the fundemantal functions in pyspark , but you are able to use any datase you want , however , you have to be careful that change the name of columns based on your dataset because all datasets are not the same.

In [12]:
# add = '/kaggle/input/house-price-tehran-iran/housePrice.csv'
add = 'housePrice.csv'




we can easily use our spark and method read.csv() and after that the address of our dataset to be ok like panada method(pd.read_csv(add)), but with one difference...

In [13]:
# df = spark.read.csv('/kaggle/input/house-price-tehran-iran')
df = spark.read.csv('housePrice.csv')



When we see our df we can see just a name of DataFrame and in a row _c0 till the number of columns will be shown , C stands for column and the number started from zero.

In [14]:
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string]



To solve this and see our dataset , we can use show() to see our dataset , however , the name of columns wont change but we are able to see by now .

In [15]:
df.show()

+----+----+-------+---------+--------+--------------------+-------------+----------+
| _c0| _c1|    _c2|      _c3|     _c4|                 _c5|          _c6|       _c7|
+----+----+-------+---------+--------+--------------------+-------------+----------+
|Area|Room|Parking|Warehouse|Elevator|             Address|        Price|Price(USD)|
|  63|   1|   True|     True|    True|             Shahran| 1850000000.0|  61666.67|
|  60|   1|   True|     True|    True|             Shahran| 1850000000.0|  61666.67|
|  79|   2|   True|     True|    True|              Pardis|  550000000.0|  18333.33|
|  95|   2|   True|     True|    True|       Shahrake Qods|  902500000.0|  30083.33|
| 123|   2|   True|     True|    True|      Shahrake Gharb| 7000000000.0| 233333.33|
|  70|   2|   True|     True|   False|North Program Org...| 2050000000.0|  68333.33|
|  87|   2|   True|     True|    True|              Pardis|  600000000.0|   20000.0|
|  59|   1|   True|     True|    True|             Shahran| 2150000000.0|  71666.67|
|  54|   2|   True|     True|   False|            Andisheh|  493000000.0|  16433.33|
|  71|   1|   True|     True|    True|West Ferdows Boul...| 2370000000.0|   79000.0|
|  68|   2|   True|     True|    True|West Ferdows Boul...| 2450000000.0|  81666.67|
|  64|   1|   True|     True|    True|              Narmak| 2100000000.0|   70000.0|
|  54|   1|  False|     True|    True|              Narmak| 1690000000.0|  56333.33|
| 136|   3|   True|     True|    True|         Saadat Abad|11000000000.0| 366666.67|
|  95|   2|   True|     True|    True|               Zafar| 5000000000.0| 166666.67|
|  63|   1|  False|     True|   False|          Islamshahr|  570000000.0|   19000.0|
| 155|   3|   True|     True|    True|              Narmak| 6700000000.0| 223333.33|
|  64|   2|  False|     True|   False|             Pirouzi| 1450000000.0|  48333.33|
| 140|   3|   True|     True|    True|West Ferdows Boul...| 6400000000.0| 213333.33|
+----+----+-------+---------+--------+--------------------+-------------+----------+
only showing top 20 rows



To replace these odd names with the real names of our columns we can easily read our dataset another way , use read_option(  ,  ) in the method we need to determine two thngs , 
'header' , and the other is 'true' or 'false'.If it is true the name of our real dataset will be set ,otherwise the thing that we had before

In [ ]:
#  the thing that we had before  
# sdf=spark.read.option('header' , 'false').csv(add)
# sdf.show()

In [16]:
# this is we we want instead that 
sdf=spark.read.option('header' , 'true').csv(add)
sdf.show()

+----+----+-------+---------+--------+--------------------+-------------+----------+
|Area|Room|Parking|Warehouse|Elevator|             Address|        Price|Price(USD)|
+----+----+-------+---------+--------+--------------------+-------------+----------+
|  63|   1|   True|     True|    True|             Shahran| 1850000000.0|  61666.67|
|  60|   1|   True|     True|    True|             Shahran| 1850000000.0|  61666.67|
|  79|   2|   True|     True|    True|              Pardis|  550000000.0|  18333.33|
|  95|   2|   True|     True|    True|       Shahrake Qods|  902500000.0|  30083.33|
| 123|   2|   True|     True|    True|      Shahrake Gharb| 7000000000.0| 233333.33|
|  70|   2|   True|     True|   False|North Program Org...| 2050000000.0|  68333.33|
|  87|   2|   True|     True|    True|              Pardis|  600000000.0|   20000.0|
|  59|   1|   True|     True|    True|             Shahran| 2150000000.0|  71666.67|
|  54|   2|   True|     True|   False|            Andisheh|  493000000.0|  16433.33|
|  71|   1|   True|     True|    True|West Ferdows Boul...| 2370000000.0|   79000.0|
|  68|   2|   True|     True|    True|West Ferdows Boul...| 2450000000.0|  81666.67|
|  64|   1|   True|     True|    True|              Narmak| 2100000000.0|   70000.0|
|  54|   1|  False|     True|    True|              Narmak| 1690000000.0|  56333.33|
| 136|   3|   True|     True|    True|         Saadat Abad|11000000000.0| 366666.67|
|  95|   2|   True|     True|    True|               Zafar| 5000000000.0| 166666.67|
|  63|   1|  False|     True|   False|          Islamshahr|  570000000.0|   19000.0|
| 155|   3|   True|     True|    True|              Narmak| 6700000000.0| 223333.33|
|  64|   2|  False|     True|   False|             Pirouzi| 1450000000.0|  48333.33|
| 140|   3|   True|     True|    True|West Ferdows Boul...| 6400000000.0| 213333.33|
|  42|   1|  False|     True|   False|             Pirouzi| 1390000000.0|  46333.33|
+----+----+-------+---------+--------+--------------------+-------------+----------+
only showing top 20 rows



we have to know a couple of preliminary functions for understanding our dataset. like pandas we have important functions which we have to know.




head(num) function shows the head sample (one sample) and you can also write a number for instance instead  head(10) will show you the 10 head samples.

In [ ]:
sdf.head(7)



Also tail() function should you the tail samples of the dataset=> like the previous you can ask for the a couple of data.

In [ ]:
sdf.tail(3)



we can see the name of our columns by columns method.it returns a list.

In [ ]:
sdf.columns


Easily we can count the number of columns.

In [ ]:
len(sdf.columns)

if we want to know what types our columns are , we can use dtypes method to understand that.returns a list of our columns and its type

In [ ]:
sdf.dtypes

if we want to know the number of samples we can use count()

In [ ]:
sdf.count()

We want to get some information about our dataset , we can use describe() function like Pandas but with a little difference.
when we just use describe() we can see just columns with the type of each against the name , but in Pandas we get some more information like mean-std and so on...
for that we have to use show() to illustrate that. let's check both.

In [ ]:
sdf.describe()

In [ ]:
sdf.describe().show()


For checking the schemas we can easily use printSchema() to have that.You might not know what schema is , in that case : 
A Spark schema defines the structure of the data, specifying the column names and data.
Let's understand that better... .

In [ ]:
sdf.printSchema()

Now we want to select a specific column not all of them , just we need to use of select function to get that.From now on , remember that show() function is urgent to use , 
if dont use you get just type of the column not values.

In [ ]:
sdf.select('Area')

you can also write the number of Ages you want to be shown(if you dont write any number , whole will be shown but randomly 20 samples will show).

In [ ]:
sdf.select('Area').show(3)

In [ ]:
sdf.select('Area').show()

instead show() you can use previous methods like head() , tail() for getting head and tail data

In [ ]:
sdf.select('Area').head(3)

Now , if we want to get 2 columns together , we need to create a list of column names then like before use show , head , or tail.

In [ ]:
sdf.select(['Area' , 'Parking']).tail(3)

If we want to create a column which is related to another column we can use withcolumn(),for testing we are going to create a column that is the area of people's houses but plus 1000

In [ ]:
sdf = sdf.withColumn('testcolumn' , sdf['Area'] + 1000)
sdf.show(10)

Now , if we want to drop any column we can use drop(name of that column) to remove the column.Let's remove the column that we have already created.

In [ ]:
sdf = sdf.drop('testcolumn')
sdf.show()

For changing a column type , we can use cast() but we have to use withColumn to create a new one instead that.
Here we change the Room column  and Price column to Boolean and float

In [ ]:
sdf = sdf.withColumn("Parking", sdf["Parking"].cast('Boolean')) 
sdf = sdf.withColumn('Price' , sdf['Price'].cast('float'))
sdf.dtypes

if we want to remove null values we can use na() for finding the null values and then drop() for removing

In [ ]:
sdf.na.drop().show(10)

In [ ]:
#sdf.na.drop(subset=['Column name'])

In [ ]:
# Fill Null values inside Address column with the word 'NaN' 
# df_pyspark.na.fill('NaN',subset=['Address']).show()

there are two ways that we can use for removing => all and any 
all means that all columns must be null in that case that sample will be removed 
any means even there is one null column for a a sample weill be removed
to use these methods how is a paramater that we can difine as all or any in string.

In [ ]:
sdf.na.drop(how='all').show(10)

In [ ]:
sdf.na.drop(how='any').show(10)

there is another parameter which is momentous , which is thresh .
The thresh parameter specifies the minimum number of non-null values that a row must have to be retained in the DataFrame.
we can difine with a number 2 , 3 , 4 or whatever you want.for test here we put 2

In [ ]:
sdf.na.drop(how='any' , thresh=2).show(10)

now , if we want to fill null values we can easily use fill('Missing') that replace that.

In [ ]:
#you can also put #NaN - nan - NAN -Null or any common names instead.
sdf.na.fill('Missing').show()

if we want to fill null values of a specific column we define the word we want to be replaced and then the name of the column

In [ ]:
sdf.na.fill('Missing' , 'Area').show(10)

however , we want do the same thing for more than one column but we have to put them in a bracket .

In [ ]:
sdf.na.fill('Missing' , ['Area' , 'Parking']).show()

If we want to find min , max , mean ,... we have to first import them and then we can use them .

In [ ]:
from pyspark.sql.functions import *

In [ ]:
sdf.select(min('Price')).show()

In [ ]:
sdf.select(max('Price')).show()

In [ ]:
sdf.select(mean('Price')).show()

In [ ]:
sdf.select(std('Price')).show()

If we want to change the name of a column , we ca use withColumnrenamed(column name, new column name)

In [ ]:
sdf.withColumnRenamed('Parking','My parking')

If we want to select a range of specific data , we are able to get data with collect()[index]
it means that we can say exactly what data , or how many data we want to select

In [ ]:
# we want to get the 0 index datum in the dataset , so we call 0 index in the bracket 
sdf.collect()[0]

We select data like the way we had in pandas , we can use [start , end , step] for collecting

In [ ]:
sdf.collect()[5:10]

step means after the tenth datum you have to jump to the tewlevth datum and dont get 11th datum and so on ...

In [ ]:
sdf.collect()[10 : 17 : 2]

Also we can get data for a specific column like the previous one but with a little difference

In [ ]:
sdf.select('Area').collect()[10:20]

However we can choose 2 columns or whatever , with collect and say which ones exactly we want .

In [ ]:
sdf.select(['Parking' , 'Price']).collect()[10: 20 : 3]

we can use filter() to get some specific data or filter a range of data like outliers or anything else . for instance , I filter parkings = 0 and price more than a threshold

In [ ]:
sdf.filter(sdf.Parking == 0).show()

In [ ]:
sdf.filter(sdf.Price > 60000000000).show()

You can use the sample function in PySpark to select a random sample of rows from a DataFrame.

This function uses the following syntax:

sample(withReplacement=None, fraction=None, seed=None)

where:

withReplacement: Whether to sample with replacement or not (default=False)
fraction: Fraction of rows to include in sample
seed: An integer that specifies the random seed for sampling







    It shows 20% of whole teh data randomly.when withReplacement is False means no need for replacement.

In [ ]:
Randomselection=sdf.sample(withReplacement=False , fraction=0.2 , seed=None)
Randomselection.show()

If we want to save our dataset(the new with changes) we can use write.saveAsTable(address).

In [ ]:
# sdf.write.saveAsTable("us_cities")

In case your file is JSON and you want to save it , this line of code will work.

In [ ]:
# df.write.format("json").save("/tmp/json_data")

To load a JSON file you should use the code below.

In [ ]:
# df3 = spark.read.format("json").json("/tmp/json_data")